services:
  packer-windows-2025:
    image: packer-windows-2025
    container_name: packer-windows-2025
    build: .
    restart: unless-stopped
    entrypoint: bash
    command: ["-c","./run.sh"]
    environment:
      - PROXMOX_TOKEN=${PROXMOX_TOKEN}
    healthcheck: # so that coolify does not display a warning
      test: ["CMD-SHELL", "exit 0"]
